body {
	font-size: 14px;
}

.example-form {
	padding: 0 1em 1em;
	min-width: 600px;
}

.example-column {
	display: inline-block;
	width: 50%;
}

.example-container {
	height: 500px;
}

.example-input-count {
	width: 4em;
	text-align: right;
}

.example-annotation {
	font-size: 0.9em;
	color: #aaa;
}
