.ts-select {
	position: relative;
}

/*
	hack for box-shadow.
	if children have backround it overrides parent box-shadow.
	so we use overlay element, set box-shadow to it
	and set pointer-events in none for posibility to interact with children
	elements. but this hack does not work in IE <= 10, so we use a fallback
	http://stackoverflow.com/questions/13188828/force-box-shadow-on-top-of-content
 */
.ts-select:after {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border: 1px solid #ccc;
	pointer-events: none;
}

/* only IE 9, 10 */
@media screen and (min-width:0\0) {
	.ts-select-container {
		border: 1px solid #ccc;
		box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	}

	.ts-select:after {
		display: none;
	}
}

.ts-select-container {
	box-sizing: border-box;
	overflow: auto;
	height: 100%;
}

.ts-option {
	box-sizing: border-box;
	padding: 0 0.5em;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	transition: background 0.15s, color 0.15s;
	user-select: none;

	position: relative;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.ts-option:hover {
	background: #ccc;
}

.ts-option.ts-selected {
	background: #3879d9;
	color: #fff;
}

.ts-option.ts-disabled {
	background: transparent;
	cursor: default;
	color: #ccc;
}
