body {
	font-size: 14px;
}

/*.tree-shaker {
	height: 200px;
}

.node {
	height: 20px;
	white-space: nowrap;
	overflow: disabled;
	text-overflow: ellipsis;
	cursor: pointer;
}

.node:hover {
	background: #ccc;
}

.node.selected {
	background: #3879d9;
	color: #fff;
}

.node.disabled {
	background: transparent;
	color: #ccc;
}

.choose-buttons {
	display: inline-block;
	vertical-align: middle;
}*/
