.tree-shaker {
	height: 200px;
}

.list {
	height: 100%;
	border: 1px solid blue;
	overflow: auto;
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}

.node {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.node:hover {
	background: #ccc;
}

.node.selected {
	background: #3879d9;
	color: #fff;
}

.choose-buttons {
	display: inline-block;
	vertical-align: middle;
}
